* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: royalblue;
    align-items: center;
    height: 60px;
}

nav h2 {
    color: white;
    font-weight: normal;
}

nav img {
    width: 50px;
    margin-left: 100px;
    margin-right: 10px;
}

nav h1 {}

nav a {
    padding: 15px;
    text-decoration: none;
    color: lightblue;
}

nav a:hover {
    color: beige;
}

nav a.active {
    color: white;
}

nav a.button {
    padding: 10px;
    margin: 5px;
    font-size: medium;
    background-color: royalblue;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

#display-image {
    width: 180px;
}

main {
    min-height: 600px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px
}

footer a {
    color: royalblue;
    text-decoration: none;
}